@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
    background: #18233e;
    color: wheat;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #f7a500;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.description {
    display: block;
    text-align: center;
    margin: 20px 150px;
}

li {
    color: #007bff;
    text-align: center;
}

.bulletdescription {
    color: wheat;
}

.example {
    color: #23903c;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
    color: #f7a500;
    text-align: center;
}

h1.title {
  font-size: 40px;
    text-transform: capitalize;
}